@media screen and (min-width: 840px) {
  .divHeaderLeft {
    float: left;
    margin: 0;
    width: 60%;
  }
  .ulSideNav {
    float: right;
    margin:0;
  }

  div::after {
    display: block;
    content: '';
    clear: both;
  }

  nav::after {
    display: block;
    content: '';
    clear: both;
  }

  main.Nav {
    li:first-child {
        margin: 1%;
    }
    li:last-child {
        margin-right: 1%;
    }
    li {
        margin: 0;
  }

  main {

    div {

      li:first-child {
        float: none;
      }
    }
  }

}

}
