/* - - - - -variables - - - - -*/
@import 'variables';
@import 'reset';
/* - - --  Extend - - - -*/
%navIconLinks {
    text-decoration: none;
    color: $main-color;
}
/*- - - - - - - SCSS- - - - - - - */
body {
    text-align: center;
    font-family: Arial, Lucida, Helvetica;
    color: $main-color;
    font-weight: 100;
}
main {
    margin-bottom: 10em;
}
.divHeaderLeft {
    margin-top: 2.5em;
}
h1 {
    margin: 0 auto;
    width: 75%;
}
ul {
    list-style-type: none;
    li {
        display: inline;
    }
    i {
        @extend %navIconLinks;
        &:hover {
            font-weight: bold;
            opacity: 0.6;
        }
    }
}
.ulSideNav {
    margin: 2em 2em 4em 0;
    display: inline-flex;
    font-size: 1rem;
    li {
        padding: 0 0.8em;
    }
}
.mainNav {
    margin-bottom: 1.5em;
    i {
        color: $secondary-color;
    }
}
.ulMainNav {
    margin: 0;
    border-bottom: solid 0.1em;
    &::after {
        display: block;
        content: '';
        clear: both;
    }
    li {
        float: left;
        width: 20%;
        border-right: solid 0.1em $secondary-color;
        border-top: solid 0.1em $secondary-color;
        padding: 1em 0;
        box-sizing: border-box;
    }
    //
    // li:last-child {
    //   border-right: none;
    // }
}
.divFoodMenu {
    ul {
        margin: 0;
    }
    li:first-child {
        background: $main-color;
        width: 10vw;
        padding: 2em 6em;
        display: inline-block;
        margin: 1.5em 0 1em;
    }
    i {
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 5.5em;
    }
    h3 {
        font-size: 1.3em;
        margin: 1em 0;
    }
    li:last-child {
        font-size: 1em;
    }
}
footer {
    a {
        @extend %navIconLinks;
    }
    span {
        color: $secondary-color;
    }
}
/* psudo classes */
.mainNav {
    li:hover {
        border: solid $main-color 0.1em;
        border-bottom: none;
        background-color: #fff;
        position: relative;
        top: 3px;
        & i {
            color: $main-color;
        }
    }
}
/* - - - - - - - --  -mid-size view media queries - - - - - - - - - - */
@media screen and (min-width: 510px) {
    h1 {
        width: 100%;
    }
    .mainNav {
        li:first-child {
            margin-left: 15%;
        }
        li:last-child {
            margin-right: 15%;
        }
        li {
            margin: 0 0.5%;
            border: solid #CAD4DA 0.1em;
            border-bottom: none;
            width: 13%;
            box-sizing: border-box;
            padding: 1em 0;
        }
    }
    .divFoodMenu {
        margin: 4em 0;
        li:first-child {
            float: left;
            margin: 0 3% 0 0;
        }
        h3 {
            text-align: left;
            padding-left: 1em;
        }
        p {
            text-align: left;
            padding-left: 1em;
        }
        main {
            &::after {
                display: block;
                content: '';
                clear: both;
            }
        }
    }
}
/*- - - - - - - -full size view - - - - - - - - */
@media screen and (min-width: 840px) {
    .divHeaderLeft {
        float: left;
        margin: 0;
        width: 60%;
        text-align: left;
    }
    .ulSideNav {
        float: right;
        padding-top: 2em;
    }
    div::after {
        display: block;
        content: '';
        clear: both;
    }
    nav::after {
        display: block;
        content: '';
        clear: both;
    }
    header {
        padding: 2em;
    }
    // main {

    .divFoodMenu {
          margin: 4em 0;
          li:first-child {
              margin: 0 -3% 0 0;
          }


        li:last-child {
            margin-right: 3%;
        }


        li {
            margin: 0;
        }
      }
            div{
              width: 27%;
              text-align: center;
              display: inline-block;
              padding: 0 2%;
                li {
                    float: none;
                }
            }

      ul {
        // display: inline;
        box-sizing: border-box;
        padding: 0;
      }

}
